<div class="body">
  <h1 class="heading">Edit this image!</h1>
  <div class="add-image">
    <%= image_tag @clothing_item.image.url(:medium), :id => "current_image" %>

    <%= render partial: 'form' %>
  </div>
</div> 
