MUFASASASA


<audio loop id="dog_call" class="audio_player" preload="auto" autoplay=true>
  <source src='dog_call.wav' type="audio/wav">
  </audio>

<script charset="utf-8">
filepicker.setKey("<%= ENV["FILEPICKER_API"] %>");
filepicker.pick(
  {service: ['WEBCAM']},
  function(Blob){
    console.log(Blob.url);
  }
);
// window.location = "<%=cute_dog_index_path%>";
</script>

<!-- https://www.filepicker.io/api/file/VXis26wHSMu4a0Kr42DA","filename":"snap.jpg","mimetype":"image/jpeg","size":28208,"isWriteable":true}] -->

<!-- [{"url":"https://www.filepicker.io/api/file/Y4mfdN8TTH2dDyhEf9UP","filename":"snap.jpg","mimetype":"image/jpeg","size":28208,"isWriteable":true}]
pictures:33 undefined -->

<!-- INSERT BUTTON INSTEAD? -->

<!-- <form action="<%= cute_dog_index_path %>" method="get">
<input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
<input type="submit" value="Submit File">
 </form> -->

<!-- // <script>
//   $.each($('dog_call'), function () {
//     this.stop();
//   });
// </script> -->


<!-- // <script charset="utf-8">
// var showPicture = document.querySelector("cameraInput");
// // Get window.URL object
// var URL = window.URL || window.webkitURL;
//
// // Create ObjectURL
// var imgURL = URL.createObjectURL(file);
//
// // Set img src to ObjectURL
// showPicture.src = imgURL;
//
// // For performance reasons, revoke used ObjectURLs
// URL.revokeObjectURL(imgURL);
// </script> -->

<!-- // <script>
// filepicker.setKey("AbZiS4ISpQTa7F9uoQdFiz");
// // var y = document.getElementById("cameraInput");
// filepicker.pick(
//   function(y){
//     console.log(y.url);
//   }
//
// filepicker.store(c, {path: '/'})
// );
// // filepicker.store($('input'),{path: 'Desktop/'});
// </script> -->
<!-- <img id="editableimage1" src="https://www.petfinder.com/wp-content/uploads/2012/11/122163343-conditioning-dog-loud-noises-632x475.jpg"/>

<script type='text/javascript'>
var featherEditor = new Aviary.Feather({
  apiKey: 'your-key-here',
  apiVersion: 3,
  theme: 'dark', // Check out our new 'light' and 'dark' themes!
  tools: 'all',
  appendTo: '',
  onSave: function(imageID, newURL) {
    var img = document.getElementById(imageID);
    img.src = newURL;
  },
  onError: function(errorObj) {
    alert(errorObj.message);
  }
});
function launchEditor(id, src) {
  featherEditor.launch({
    image: id,
    url: src
  });
  return false;
}
</script> -->
