<div class="container">
  <h1>Camera API</h1>

  <section class="main-content">
    
    <p>
      Click the button to take a picture!
    </p>
                
    <p>
      <input type="file" id="take-picture" accept="images/*" capture="camera">
    </p>

    <h2>
      Preview:
    </h2>
    
    <p>
      <img src="about:blank" alt="" id="show-picture">
    </p>

    <p id="error">
    </p>

  </section>

</div>


<script src="javascripts/snap.js"></script>
