Welcome

<script charset="utf-8">
filepicker.setKey("AbZiS4ISpQTa7F9uoQdFiz");
filepicker.pickAndStore({},{},function(Blobs){
  console.log(JSON.stringify(Blobs));
});
// var x = filepicker.pick(
//   function(y){
//     console.log(y.url);
//   }
// );
// filepicker.store(
//   x,
//   {path: '/'}
// );
</script>

<!-- <form action="/pictures" method="get">

  <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
  <input type="submit" value="Submit File">

</form> -->
