<!DOCTYPE html>
<html>
<head>
  <title>Super Dog App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
  <!-- <javascript_include_tag 'jquery-1.11.1.js', 'data-turbolinks-track' => true %> -->
  <script charset="utf-8" type="text/javascript" src="assets/javascripts/jquery-1.11.1.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
